<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LeBron">
  <meta name="author" content="EB and GG">

  <title>LeBron James Record</title>

  <link href="static/css/main_page_styles.css" rel="stylesheet">
</head>

<body>
  <div class="header">
      <h1>LeBron James</h1>
      <h2 id="demo">How Many Points Left?</h2>
  </div>

  <div class="footer">
      <h2 id="points">{{ value }}</h2>
  </div>

  <div class="footer">
    <h1>By Edvard & Gordon</h1>
  </div>

  <script>
  var points = document.getElementById("points");

    setInterval(() => {
      fetch("{{ url_for('update_points') }}")
      .then(response => {
        response.text().then(t => {points.innerHTML = t})
      });
      }, 5000);
  </script>

</body>
