<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="LeBron">
  <meta name="author" content="EB and GG">

  <title>LeBron James Record</title>

  <link href="static/css/main_page_styles.css" rel="stylesheet">

  <!-- Not implemented -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="static/js/updates.js"></script> -->
</head>

<body>
  <div class="header">
      <h1>LeBron James</h1>
      <h2 id="demo">How Many Points Left?</h2>
      <!-- <button type="button" onclick="signUpUser()">Try it</button>
      <input type="submit" name="submit_button" value="Do Something"> -->
  </div>

  <div class="footer">
      <h2>Kareem: {{ value1 }}</h2>
      <h2>LeBron: {{ value2 }}</h2>
      <h2>DIFFERENCE : {{ value3 }}</h2>

    <form action="/" method="post">
        <button name="forwardBtn" type="submit">REFRESH</button>
    </form>

  </div>

  <div class="footer">
    <h2>By Edvard & Gordon</h2>
  </div>

</body>
